.button {
  display: inline-block;
  border: 2px solid @button-border-color;
  text-decoration: none;
  background-color: transparent;
  text-align: center;

  &:hover {
    background-color: @button-hover-background-color;
    color: @button-hover-text-color;
  }

  &:active {
    background-color: @button-active-background-color;
    color: @button-active-text-color;
  }
}

.button--order {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @button-text-color;
  font-display: swap;
  padding: 14px 70px;
}

@media (min-width: @tablet-width) {
  .button--order {
    padding: 15px 86px;
  }
}

@media (min-width: @desktop-width) {
  .button--order {
    font-size: 17px;
    padding: 14px 85px;
    width: 120px;
    max-height: 20px;
  }
}

.button--review {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @button-text-color;
  text-transform: uppercase;
  font-display: swap;
  padding: 14px 66px;
}

@media (min-width: @tablet-width) {
  .button--review {
    grid-area: button;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-transform: uppercase;
    font-display: swap;
    padding: 14px 25px;
    width: 123px;
    height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .button--review {
    height: 20px;
    padding: 14px 24px;
  }
}

.button--write-us {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: @button-text-color;
  text-transform: uppercase;
  font-display: swap;
  width: 160px;
  padding: 14px 48px 14px 48px;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .button--write-us {
    font-size: 17px;
    line-height: 20px;
    width: 176px;
    min-height: 20px;
    padding: 14px 26px 14px 26px;
  }
}

@media (min-width: @desktop-width) {
  .button--write-us {
    font-size: 17px;
    line-height: 20px;
    padding: 13px 25px 13px 25px;
  }
}

.button--submit {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: @button-text-color;
  font-display: swap;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 37px;
}

.button--production-process {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: @button-text-color;
  font-display: swap;
  padding: 18px 11px;
}
