.contacts__wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__wrapper-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 39px;
}

.contacts__title {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  margin: 0;
  padding-bottom: 28px;
}

.contacts__email {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin: 0;
}

.contacts__address {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
  margin: 0;
  padding-bottom: 62px;
}

.contacts__map {
  padding-bottom: 42px;
}
