.copyright {
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 23px 69px 22px 69px;
}

.copyright__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

.copyright__icon {
  fill: #63d1bb;
}
