.form-header {
  margin-bottom: 17px;
}

@media (min-width: @tablet-width) {
  .form-header {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .form-header {
    margin-bottom: 99px;
  }
}

.form-header__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @title-text-color;
  text-align: center;
  font-display: swap;
  margin: 0;
  padding: 70px 22px;
  background-color: @form-header-background-color;
}

@media (min-width: @tablet-width) {
  .form-header__title {
    font-size: 43px;
    line-height: 50px;
    padding: 33px 175px 75px 175px;
  }
}

@media (min-width: @desktop-width) {
  .form-header__title {
    font-size: 53px;
    line-height: 57px;
    padding: 33px 320px 96px 322px;
  }
}

.form-header__divider {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    top: auto;
    bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    top: auto;
    bottom: 373px;
  }
}
