.form-container__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
}

.form-container__legend {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
}

.form-container__field-group {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid #62d1ba;
}

.form-container__field-list {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  list-style-type: none;
  margin: 0;
}

.form-container__field-list-type {
  padding: 25px 0 43px 0;
}

.form-container__field-list-color {
  padding: 25px 0 33px 0;
}

.form-container__field-list-name {
  padding: 29px 0 34px 0;
}

.form-container__input {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.form-container__remark {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  padding-bottom: 30px;
}

.form-container__type-item:not(:last-child) {
  padding-bottom: 24px;
}

.form-container__color-item:not(:last-child) {
  padding-bottom: 23px;
}

.form-container__name-item:not(:last-child) {
  padding-bottom: 22px;
}

.form-container__contact {
  padding-bottom: 34px;
}

.form-container__comment {
  padding-bottom: 17px;
}
