.header-nav {
  display: flex;
  flex-direction: column;
  background-color: @header-background-color;
}

@media (min-width: @tablet-width) {
  .header-nav {
    display: grid;
    grid-template-areas:
    "logo user-menu"
    "site-menu-main delivery";
    grid-template-columns: 48% auto;
  }
}

@media (min-width: @desktop-width) {
  .header-nav {
    display: grid;
    grid-template-columns: auto 311px auto;
    grid-template-areas:
      "site-menu-main  logo  user-menu"
      "site-menu-additional  divider  delivery";
    justify-self: stretch;
  }
}

.header-nav__logo {
  grid-area: logo;
  display: block;
  color: @header-logo-color;
  padding: 22px 64px 22px 119px;
  max-width: 86px;
  min-height: 35px;
  margin: 0;
  justify-self: end;

  &:hover {
    color: @header-logo-color;
    opacity: 0.6;
  }

  &:active {
    color: @header-logo-color;
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    grid-area: logo;
    max-width: 113px;
    padding-top: 21px;
    padding-bottom: 22px;
    padding-left: 46px;
    padding-right: 209px;
    justify-self: end;
  }

  @media (min-width: @desktop-width) {
    grid-area: logo;
    max-width: 149px;
    padding-top: 9px;
    padding-right: 100px;
    padding-bottom: 7px;
    padding-left: 62px;
  }
}

@media (max-width: @mobile-width-only) {
  .header-nav__list-site--closed {
    display: none;
  }

  .header-nav__list-user--closed {
    display: none;
  }

  .header-nav__list-site--opened {
    position: absolute;
    top: 80px;
    display: block;
  }

  .header-nav__list-user--opened {
    display: block;
    position: absolute;
    top: 240px;
  }

  .header-nav__list-site--nojs {
    display: block;
    position: static;
  }

  .header-nav__list-user--nojs {
    display: block;
    position: static;
  }

  .header-nav__toggle--open {
    grid-area: button;
    justify-self: start;
    display: block;
    border: none;
    background-color: @header-nav-toggle-button-background-color;
    background-image: url("../img/icons/menu-open.svg");
    background-repeat: no-repeat;
    background-position: center right 34px;
    min-width: 20px;
    min-height: 14px;
    padding-top: 32px;
    padding-right: 51px;
    padding-bottom: 33px;
  }

  .header-nav__toggle--close {
    grid-area: button;
    justify-self: start;
    display: block;
    border: none;
    background-color: @header-nav-toggle-button-background-color;
    background-image: url("../img/icons/menu-close.svg");
    background-repeat: no-repeat;
    background-position: center right 33px;
    min-width: 21px;
    min-height: 20px;
    padding-top: 29px;
    padding-right: 57px;
    padding-bottom: 30px;
    padding-left: 0;
  }

  .header-nav__toggle--nojs {
    display: none;
  }

  .header-nav__logo--nojs {
    padding: 0;
    padding-top: 22px;
    padding-bottom: 22px;
    align-self: center;
  }
}

.header-nav__mobile-top-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid @item-wrapper-border-color;

  @media (min-width: @tablet-width) {
    grid-area: logo;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: @tablet-width) {
  .header-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__toggle {
    display: none;
  }
}

.header-nav__main {
  position: relative;

  @media (min-width: @tablet-width) {
    position: static;
  }
}

.header-nav__list-site {
  width: 100%;
}

@media (min-width: @tablet-width) {
  .header-nav__list-site {
    grid-area: site-menu-main;
    display: flex;
    justify-content: flex-end;
    background-color: @header-nav-list-menu-index-background-color;
  }

  .header-nav__list-site-form {
    background-color: @form-header-background-color;
  }

  .header-nav__list-site-catalog {
    background-color: @catalog-header-background-color;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__list-site {
    background-color: @header-background-color;
  }
}

.header-nav__list-additional {
  display: none;
}

@media (min-width: @tablet-width) {
  .header-nav__list-additional {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__list-additional {
    grid-area: site-menu-additional;
    display: flex;
    background-color: @header-nav-list-menu-index-background-color;
    justify-content: flex-end;
  }

  .header-nav__list-additional-form {
    background-color: @form-header-background-color;
  }

  .header-nav__list-additional-catalog {
    background-color: @catalog-header-background-color;
  }
}



.header-nav__list-user {
  width: 100%;
  height: 100%;
}

@media (min-width: @tablet-width) {
  .header-nav__list-user {
    display: flex;
    justify-content: flex-start;
    grid-area: user-menu;
    height: 89px;
    background-color: @header-nav-top-menu-background-color;
    border-bottom: 1px solid @header-nav-menu-border-color;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__list-user {
    grid-area: user-menu;
  }
}

.header-nav__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .header-nav__delivery {
    display: grid;
    background-color: @header-nav-index-delivery-background-color;
    grid-area: delivery;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: @small-text-color;
    font-display: swap;
    padding-top: 20px;
    padding-left: 116px;
    justify-self: stretch;
  }

  .header-nav__delivery-form {
    background-color: @form-header-background-color;
  }

  .header-nav__delivery-catalog {
    background-color: @catalog-header-background-color;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__delivery {
    grid-area: delivery;
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: @small-text-color;
    text-align: left;
    font-display: swap;
    padding-left: 120px;
    padding-top: 20px;
    padding-right: 50px;
    justify-self: stretch;
  }
}

.header-nav__decoration {
  display: none;
}

@media (min-width: @tablet-width) {
  .header-nav__decoration {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__decoration {
    display: block;
    grid-area: divider;
    background-color: @header-nav-index-delivery-background-color;
    width: auto;
    min-height: 70px;
  }

  .header-nav__decoration-form {
    background-color: @form-header-background-color;
  }

  .header-nav__decoration-catalog {
    background-color: @catalog-header-background-color;
  }
}
