.header {
  display: flex;
  flex-direction: column;
  background-color: @header-background-color;
  color: @main-text-color;
}

@media (min-width: @tablet-width) {
  .header {
    display: flex;
  }
}

.header__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  color: @title-text-color;
  text-align: center;
  font-display: swap;
  margin: 0;
  padding: 74px 22px;
  background-color: @header-title-background-color;
}

@media (min-width: @tablet-width) {
  .header__title {
    grid-area: title;
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-right: 183px;
    padding-bottom: 75px;
    padding-left: 183px;
  }
}

@media (min-width: @desktop-width) {
  .header__title {
    font-size: 53px;
    line-height: 57px;
    padding-top: 102px;
    padding-right: 332px;
    padding-bottom: 96px;
    padding-left: 332px;
  }
}

.header__logo-icon-mobile {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo-icon-tablet {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__logo-icon-desktop {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.header__search-icon {
  display: block;
  position: absolute;
  left: 32px;
  top: 32px;
}

@media (min-width: @tablet-width) {
  .header__search-icon {
    display: block;
    left: 33px;
    top: 36px;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .header__search-icon {
    display: block;
    height: 18px;
    width: 18px;
  }
}

.header__cart-icon {
  position: absolute;
  left: 32px;
  top: 32px;
}

@media (min-width: @tablet-width) {
  .header__cart-icon {
    position: absolute;
    left: 31px;
    top: 35px;
  }
}
