.main-header {
  font-family: "Open Sans", sans-serif;
  font-display: swap;
  background-color: @header-background-color;
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: @main-header-background-color;
  background-image: url("../img/hero-mobile@1x.webp");
  background-repeat: no-repeat;
  background-position: center top -18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.webp");
    background-size: 320px auto;
  }
}

@media (min-width: @tablet-width) {
  .main-header__wrapper {
    background-image: url("../img/hero-tablet@1x.webp");
    background-repeat: no-repeat;
    background-size: 768px auto;
    background-position: center bottom 0;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-tablet@2x.webp");
    background-size: 768px auto;
  }
}

@media (min-width: @desktop-width) {
  .main-header__wrapper {
    background-image: url("../img/hero-desktop@1x.webp");
    background-repeat: no-repeat;
    background-size: 1150px auto;
    background-position: center bottom 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.webp");
    }
  }
}

.main-header__title {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  font-display: swap;
  height: 90px;
  width: 260px;
  padding-top: 70px;
  padding-bottom: 122px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .main-header__title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
    text-align: center;
    font-display: swap;
    width: 668px;
    height: 100px;
    padding-top: 86px;
    padding-bottom: 372px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 53px;
    line-height: 57px;
    text-align: center;
    font-display: swap;
    width: 700px;
    height: 114px;
    padding-top: 85px;
    padding-right: 225px;
    padding-bottom: 358px;
    padding-left: 225px;
  }
}

.main-header__buttons-wrapper {
  background-color: @main-header-buttons-wrapper-background-color;
  width: 100%;

  @media (min-width: @tablet-width) {
    position: relative;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
  }
}

.main-header__divider {
  display: none;

  @media (min-width: @tablet-width) {
    position: absolute;
    display: block;
    top: 100px;
    right: auto;
    bottom: auto;
  }

  @media (min-width: @desktop-width) {
    width: 1150px;
    top: 100px;
    right: auto;
    bottom: auto;
  }
}

.main-header__buttons-list {
  .reset-list;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  font-display: swap;
}

@media (min-width: @tablet-width) {
  .main-header__buttons-list {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    padding: 0 50px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__buttons-list {
    display: flex;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    font-display: swap;
    background-color: @main-header-buttons-wrapper-background-color;
    padding: 0 50px;
  }
}

.main-header__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @main-header-button-text-color;
  text-decoration: none;
}

.main-header__button-link-interior {
  background-color: @main-header-button-interior-color;

  @media (min-width: @tablet-width) {
    &:hover {
      background-color: @main-header-hover-button-interior-color;
      transform: translateY(-5px);

      .main-header__button-icon-interior {
        color: @main-header-hover-icon-button-color;
      }
    }

    &:active {
      background-color: @main-header-active-button-interior-color;
      transform: translateY(-5px);

      .main-header__button-icon-interior {
        color: @main-header-active-icon-button-color;
      }
    }
  }
}

@media (min-width: @tablet-width) {
  .main-header__button-link {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-header__button-link {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-header__button-icon-interior {
  display: block;
  width: 40px;
  height: 62px;
  padding-top: 23px;
  padding-right: 36px;
  padding-bottom: 18px;
  color: @main-header-icon-button-color;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-right: 36px;
    padding-bottom: 27px;
  }
}

.main-header__button-text-interior {
  display: block;
  width: 130px;
  padding-top: 24px;
  padding-right: 84px;
  padding-bottom: 31px;
  padding-left: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-right: 90px;
    padding-left: 36px;
    padding-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
    padding-right: 273px;
    padding-left: 37px;
  }
}

.main-header__button-icon-toys {
  display: block;
  width: 60px;
  height: 60px;
  padding: 21px 27px 22px 0;
  color: @main-header-icon-button-color;

  @media (min-width: @tablet-width) {
    padding: 31px 33px 27px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 31px 35px 27px 0;
  }
}

.main-header__button-text-toys {
  display: block;
  width: 130px;
  padding: 24px 73px 31px 30px;

  @media (min-width: @tablet-width) {
    padding: 25px 73px 34px 36px;
  }

  @media (min-width: @desktop-width) {
    padding: 25px 255px 34px 36px;
  }
}

.main-header__button-link-toys {
  background-color: @main-header-button-toys-color;

  @media (min-width: @tablet-width) {
    &:hover {
      background-color: @main-header-hover-button-toys-color;
      transform: translateY(-5px);

      .main-header__button-icon-toys {
        color: @main-header-hover-icon-button-color;
      }
    }

    &:active {
      background-color: @main-header-active-button-toys-color;
      transform: translateY(-5px);

      .main-header__button-icon-toys {
        color: @main-header-active-icon-button-color;
      }
    }
  }
}
