.modal__container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 320px;
  height: 336px;
  background-color: #ffffff;
  border: 1px solid #C6C6C6;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: @tablet-width) {
    width: 566px;
    right: 101px;
    left: 101px;
  }

  @media (min-width: @desktop-width) {
    right: 292px;
    left: 292px;
  }
}

.modal__container--closed {
  display: none;
}

.modal__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: @title-text-color;
  padding: 29px 70px 14px 74px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 57px;
    padding: 37px 92px 11px 93px;
  }
}

.modal__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: @small-text-color;
  text-align: center;
  margin: 0;
  padding: 0 79px;
  padding-bottom: 22px;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 30px;
    padding: 0 193px 20px 192px;
  }
}

.modal__size {
  display: flex;
  justify-content: space-between;
  height: 52px;
  padding: 0 30px;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    padding: 0 108px;
    padding-bottom: 31px;
  }
}

.modal__size-item {
  font-family: "Open Sans", sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  border: 2px solid @item-wrapper-border-color;
  width: 38px;
  min-height: 16px;
  padding: 18px 22px;
  margin-right: 7px;

  @media (min-width: @tablet-width) {
    padding: 18px 37px;
  }
}

.modal__size-item--active {
  border: 2px solid #63D1BB;
}

.modal__size-item:last-child {
  margin-right: 0;
}

.modal__button {
  font-family: "Open Sans", sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #63D1BB;
  border: none;
  padding: 18px 68px;
  margin: 0 30px;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding: 18px 112px;
    margin: 0 108px;
    margin-bottom: 46px;
  }
}
