.page {
  background-color: #c7c7c7;
  height: 100%;
}

.page__body {
  background-color: #ffffff;
  min-height: 100%;
  margin: 0;
}

.page__form {
  background-color: #ffffff;
  min-height: 100%;
  margin: 0;
}

.page__catalog {
  background-color: #ffffff;
  min-height: 100%;
  margin: 0;
}
