.page {
  background-color: #c7c7c7;
}

.page__body {
  background-color: #fff;
  margin: 0 auto;
  width: 320px;
}

.page__form {
  background-color: #fff;
  margin: 0 auto;
  width: 320px;
}

.page__catalog {
  background-color: #fff;
  margin: 0 auto;
  width: 320px;
}
