.production-process__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  margin-bottom: 58px;
  border: 1px solid #ececec;
  padding: 0 0 33px 0;
}

@media (min-width: @desktop-width) {
  .production-process__container {
    display: grid;
    grid-template-columns: 683px 367px;
    grid-template-areas: "video title"
                         "video text"
                         "video button";
  }
}

.production-process__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .production-process__title-wrapper {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .production-process__title-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    grid-area: title;
  }
}

.production-process__icon {
  display: block;
  padding: 35px 25px 39px 34px;
}

.production-process__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  padding: 22px 13px 26px 0;
}

.production-process__text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  padding: 35px 0 41px 34px;
}

@media (min-width: @tablet-width) {
  .production-process__text {
    order: 3;
  }
}

@media (min-width: @desktop-width) {
  .production-process__text {
    grid-area: text;
  }
}

.production-process__video {
  width: 260px;
  height: 150px;
}

@media (min-width: @tablet-width) {
  .production-process__video {
    width: 668px;
    height: 455px;
    order: 1;
  }
}

@media (min-width: @desktop-width) {
  .production-process__video {
    width: 683px;
    height: 455px;
    grid-area: video;
  }
}

@media (min-width: @tablet-width) {
  .production-process__button {
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .production-process__button {
    grid-area: button;
  }
}
