.socials {
  background-color: #f1f1f1;
}

.socials__list {
  width: 142px;
  padding: 25px 89px 28px 89px;
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

@media (min-width: @tablet-width) {
  .socials__list {
    width: 142px;
  }
}
