.user-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .user-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }
}

.user-list__search-icon {
  position: absolute;
  left: 32px;
  top: 32px;
  fill: #00000030;
}

@media (min-width: @tablet-width) {
  .user-list__search-icon {
    left: 33px;
    top: 36px;
    right: 0;
    bottom: 0;
  }
}

@media (min-width: @tablet-width) {
  .user-list__search-icon {
    height: 18px;
    width: 18px;
  }
}

@media (min-width: @tablet-width) {
  .user-list__search-text {
    display: none;
  }
}

.user-list__search-link {
  position: relative;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 76px;
  padding-right: 77px;
  border-bottom: 1px solid #ececec;

  &:hover .user-list__search-icon {
    fill: #63d1bb;
  }

  &:active .user-list__search-icon {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .user-list__search-link {
    padding: 45px 38px 44px 42px;
    border: none;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }
}

.user-list__cart-icon {
  position: absolute;
  left: 32px;
  top: 32px;
  fill: #00000030;
}

.user-list__cart-link {
  position: relative;
  display: block;
  background-color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #000000;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 76px;
  padding-right: 33px;
  border-bottom: 1px solid #ececec;

  &:hover {
    color: #00000070;

    .user-list__cart-icon {
      fill: #63d1bb;
    }
  }

  &:active {
    color: #00000030;

    .user-list__cart-icon {
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .user-list__cart-link {
    font-size: 17px;
    line-height: 24px;
    padding: 32px 50px 33px 70px;
  }
}

@media (min-width: @tablet-width) {
  .user-list__cart-icon {
    position: absolute;
    left: 31px;
    top: 35px;
  }
}
